{sub_dirs, ["rel"]}.

{cover_enabled, true}.

{lib_dirs, ["deps", "apps"]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B)", []}]}.

{reset_after_eunit, true}.

{gpb_opts, [
    {epb_compatibility, true},
    {defs_as_proplists, true},
    {type_specs, true}
]}.

{deps, [
        {riakc, ".*", {git, "git://github.com/basho/riak-erlang-client", {tag, "2.4.1"}}},
        {node_package, ".*", {git, "git://github.com/basho/node_package", {branch, "no-epmd"}}},
        {webmachine, "1.10.*", {git, "git://github.com/basho/webmachine", {tag, "1.10.8"}}},
        {ibrowse, "4.0.2", {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.2"}}},
        {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
        {lager_syslog, ".*", {git, "git://github.com/basho/lager_syslog", {tag, "2.0.3"}}},
        {cuttlefish, ".*", {git, "git://github.com/basho/cuttlefish", {tag, "2.0.1"}}},
        {eper, ".*", {git, "git://github.com/basho/eper.git", "0.78"}},
        {gpb, "3.26.*", {git, "https://github.com/basho/gpb.git", {tag, "3.26.4"}}}
       ]}.
