{cover_enabled, true}.
{erl_opts, [warnings_as_errors,
            debug_info,
            {parse_transform, lager_transform}]}.
{eunit_opts, [verbose]}.

{deps,
 [
  {riak_kv, ".*",
   {git, "git://github.com/basho/riak_kv.git", {tag, "2.1.0"}}},
  {ibrowse, "4.0.2",
   {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.2"}}}
 ]}.