<h4>Bucket List</h4>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <strong>Bucket Type:</strong>
            {{model.bucketTypeId}}
        </div>
        <div class="col-md-5">
            <strong>Cluster:</strong>
            {{model.cluster.clusterId}}
        </div>
    </div>
</div>

<div class="container" style="margin-top: 2em;">
    Displaying
    <strong>{{model.count}}</strong>
    buckets out of
    <strong>{{model.total}}</strong>
    total.
</div>

<div class="container" style="padding-top: 2em;">
    {{#riak-buckets bucketList=model deleteBucketAction="deleteBucket" cluster=model.cluster}}
    {{/riak-buckets}}
</div>
