<div class="container">
    <div class="row">
        <div class="col-md-12"><h3>Cluster: {{model.id}}</h3></div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Cluster Properties</strong></div>
        <div class="col-md-10">
            ...
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Cluster Stats</strong></div>
        <div class="col-md-10">
            ...
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Bucket Types</strong></div>
        <div class="col-md-10">
            {{#link-to 'bucket_types' (query-params cluster_id=model.id) classNames='btn btn-sm btn-primary' }}Bucket Types{{/link-to}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Search Indexes</strong></div>
        <div class="col-md-10">
            indexes will go here
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Nodes</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Node</th>
                <th>Ping</th>
                <th>Stats</th>
            </tr>
        </thead>
        <tbody>
    {{#each node in model.nodes}}
      {{riak-node node=node}}
    {{else}}
      No nodes detected.
    {{/each}}
        </tbody>
    </table>
        </div>  <!-- <div class="col-md-12"> -->
    </div>  <!-- <div class="row"> -->
</div>
