<div class="container">
    <div class="row">
        <div class="col-md-12"><h3>Cluster: {{model.cluster.id}}</h3></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            Status:
            <strong>
            {{#if model.cluster.props.development_mode}}
            Development Mode
            {{else}}
            Production Mode
            {{/if}}
            </strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><h4>Explore</h4></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Bucket Types</h5>
            {{#bucket-types cluster_id=model.cluster.id
                bucket_types=model.bucket_types}}{{/bucket-types}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><h4>Search</h4></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Search Indexes</h5>
            {{#search-indexes cluster_id=model.cluster.id
                indexes=model.cluster.indexes
                cluster_proxy_url=model.cluster.cluster_proxy_url}}
            {{/search-indexes}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Nodes</h4>
    <table class="table">
        <thead>
            <tr>
                <th>Node</th>
                <th>Ping</th>
                <th>Stats</th>
            </tr>
        </thead>
        <tbody>
    {{#each node in model.cluster.nodes}}
      {{riak-node node=node}}
    {{else}}
      No nodes detected.
    {{/each}}
        </tbody>
    </table>
        </div>  <!-- <div class="col-md-12"> -->
    </div>  <!-- <div class="row"> -->
</div>
