<h3>Available nodes</h3>

<table class="table">
    <thead>
        <tr>
            <th>Node</th>
            <th>Ping</th>
            <th>Bucket Types</th>
        </tr>
    </thead>
    <tbody>
{{#each node in model.nodes}}
        <tr>
            <td>{{node.id}}</td>
            <td>{{#link-to 'riak_ping' (query-params node_id=node.id) classNames='btn btn-sm btn-default' }}Ping{{/link-to}}</td>
            <td>{{#link-to 'bucket_types' (query-params node_id=node.id) classNames='btn btn-sm btn-primary' }}Bucket Types{{/link-to}}</td>
        </tr>
{{else}}
  No nodes detected.
{{/each}}
    </tbody>
</table>
