
<div class="container">
    <div class="row">
        <div class="col-md-2"><strong>Node id:</strong></div>
        <div class="col-md-10">{{node_id}}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Riak Ping:</strong></div>
        <div class="col-md-10">{{model.message}}</div>
    </div>
</div>
