{{#object-location object=model.obj isEditing=false}}{{/object-location}}

<br />
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{#object-headers headers=model.obj.headersIndexes
                title='Secondary Indexes'}}{{/object-headers}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#object-headers headers=model.obj.headersCustom
                title='Custom Headers'}}{{/object-headers}}
        </div>
    </div>
</div>

<br />
<div class="container">
    <h4>Contents</h4>
    <div class="row">
        <div class="col-md-2">
            <a href="{{model.url}}" class="btn btn-xs btn-primary">
                <span class="glyphicon glyphicon-download" aria-hidden="true"></span>
                View raw</a>
        </div>
        <div class="col-md-10">
            Content Type: <b>{{model.obj.contentType}}</b>
        </div>
    </div>
</div>
<br />
{{#if model.obj.contents}}
<pre><code>{{model.obj.contents}}</code></pre>
{{/if}}

{{#object-version object=model.obj}}{{/object-version}}
