<div class="crumb-trail">
    {{link-cluster cluster=model.cluster}} /

    <div class="cluster-resource-header center-block">
        <span class="glyphicon glyphicon-inbox cluster-resource-icon"
            aria-hidden="true"></span>
        <span>{{model.bucketTypeId}}</span>
    </div>

</div>

<div class="container bucket-properties center-block">
{{#if model.props}}
    {{bucket-properties model=model}}
{{else}}
    Properties not loaded...
{{/if}}
</div>
