th{background: #FFF}
tr:nth-child(even) {background: #FFF}
tr:nth-child(odd) {background: #EEE}

.loading {
    padding-top: 3em;
    padding-bottom: 3em;
}

.key {
    padding-top: 3em;
    padding-bottom: 3em;
}
