{{#link-to 'cluster' cluster
    classNames='btn btn-sm btn-primary cluster-resource-link'}}
        <img src="assets/images/riak.png" class="cluster-resource-icon" />
        <span>{{cluster.id}}
        {{#if cluster.developmentMode}}(Dev){{/if}}
        </span>
{{/link-to}}
