{{#link-to 'bucket' bucket
        classNames='btn btn-sm btn-primary btn-block cluster-resource-link' }}
    <span class="glyphicon glyphicon-folder-close cluster-resource-icon"
        aria-hidden="true"></span>
    {{bucket.bucketId}}{{/link-to}}
