<button type="button" class="btn btn-xs btn-primary"
        {{action 'refreshBuckets' bucketType}}>
    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
    Refresh Bucket Cache</button>
