%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {rel, "riak_explorer", "2.1.0",
        [
         kernel,
         stdlib,
         sasl,
         public_key,
         ssl,
         os_mon,
         crypto,
         runtime_tools,
         mochiweb,
         webmachine,
         lager,
         lager_syslog,
         riak_explorer
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "riak_explorer"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, cuttlefish, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       {app, riak_explorer, [{incl_cond, include}]}
      ]}.


{target_dir, "riak_explorer"}.

{overlay_vars, "vars.config"}.

{overlay, [
           %% Scan for scripts in included apps
           %% Setup basic dirs
           {mkdir, "log"},
           {mkdir, "data/riak_explorer"},
           {mkdir, "priv/ember_riak_explorer"},

           %% Copy base files for starting and interacting w/ node
           {copy, "../deps/node_package/priv/base/erl",
            "{{erts_vsn}}/bin/erl"},
           {copy, "../deps/cuttlefish/cuttlefish",
            "{{erts_vsn}}/bin/cuttlefish"},
           {copy, "../deps/node_package/priv/base/nodetool",
            "{{erts_vsn}}/bin/nodetool"},
           {template, "../deps/node_package/priv/base/runner",
            "bin/riak_explorer"},
           {template, "../deps/node_package/priv/base/env.sh",
            "lib/env.sh"},

           %% Copy static web files
           {copy, "../priv/ember_riak_explorer/dist",
            "priv/ember_riak_explorer/dist"},

           %% Copy config files
           %% Cuttlefish Schema Files have a priority order. 
           %% Anything in a file prefixed with 00- will override
           %% anything in a file with a higher numbered prefix.
           {template, "files/riak_explorer.schema", "lib/00-riak_explorer.schema"},
           {template, "../deps/cuttlefish/priv/erlang_vm.schema", "lib/11-erlang_vm.schema"},

           {template, "files/advanced.config", "etc/advanced.config"},

           %% Copy ssl certs
           {template, "files/cert.pem", "etc/cert.pem"},
           {template, "files/key.pem", "etc/key.pem"}

          ]}.
