<table class="table">
<thead>
    <tr>
        <th>Name</th>
        <th>Object Type</th>
        <th>n_val</th>
        <th>Conflict Res. Strategy</th>
    </tr>
</thead>
<tbody>
{{#each bucketTypes as |bt|}}
    <tr>
        <td>
            {{link.bucket-type bucketType=bt btnBlock=true}}
        </td>
        <td>
            {{bt.props.objectType}}
        </td>
        <td>
            {{bt.props.nVal}}
        </td>
        <td>
            {{bt.props.resolutionStrategy}}
        </td>
    </tr>
{{/each}}
</tbody>
</table>
