<table class="table">
<thead>
    <tr>
        <th>Name</th>
        <th>Object Type</th>
        <th>n_val</th>
        <th>Conflict Res. Strategy</th>
    </tr>
</thead>
<tbody>
{{#each bucketTypes as |bt|}}
    <tr>
        <td>
            {{#link-to 'bucket-type' bt
                    classNames='btn btn-sm btn-block btn-primary cluster-resource-link' }}
                <span class="glyphicon glyphicon-inbox cluster-resource-icon"
                    aria-hidden="true"></span>
                {{bt.bucketTypeId}}{{/link-to}}
        </td>
        <td>
            {{bt.props.objectType}}
        </td>
        <td>
            {{bt.props.nVal}}
        </td>
        <td>
            {{bt.props.resolutionStrategy}}
        </td>
    </tr>
{{/each}}
</tbody>
</table>
