<div class="container">
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-11">
            {{link-cluster clusterId=model.clusterId}}

            {{#if model.bucketTypeId}}
                /
                {{#link-to 'bucket-type' model.bucketType
                        classNames='btn btn-sm btn-primary cluster-resource-link' }}
                    <span class="glyphicon glyphicon-inbox cluster-resource-icon"
                        aria-hidden="true"></span>
                    {{model.bucketTypeId}}{{/link-to}}
            {{/if}}
            {{#if model.bucketId}}
                /
            {{/if}}
        </div>
    </div>
</div>
