{{#link-to 'cluster' cluster
    classNames='btn btn-sm btn-primary cluster-resource-link'}}
        <img src="assets/images/riak.png" class="cluster-resource-icon"
            title="Cluster: {{cluster.id}}"/>
        <span title="Cluster: {{cluster.id}}">
            {{cluster.id}}
        </span>
{{/link-to}}
