<div class="center-block text-center loading">
    <div class="container">
    Loading...
    </div>
    <div class="container spinner">
    <img src="assets/images/ajax-loading-big.gif" />
    </div>
</div>
