<div class="container">
    <div class="row">
        <div class="col-md-10">
            {{#if isEditing}}
                {{#object-headers-edit headers=metadata.headersIndexes
                    title='Secondary Indexes'}}{{/object-headers-edit}}
            {{else}}
                {{#object-headers headers=metadata.headersIndexes
                    title='Secondary Indexes'}}{{/object-headers}}
            {{/if}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            {{#if isEditing}}
                {{#object-headers-edit headers=metadata.headersCustom
                    title='Custom Headers'}}{{/object-headers-edit}}
            {{else}}
                {{#object-headers headers=metadata.headersCustom
                    title='Custom Headers'}}{{/object-headers}}
            {{/if}}
        </div>
    </div>
</div>
