{{#if headers}}

<h4>{{title}}</h4>
<table class="table">
    <tbody>
        {{#each headers as |header|}}
        <tr>
            <td width="30%;">{{header.key}}</td>
            <td>{{header.value}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{/if}}
