<div class="container">
    <div class="row">
        <div class="col-md-2" style="text-align: right;">
            <strong>Last Modified:</strong>
        </div>
        <div class="col-md-10">
            {{object.metadata.dateLastModified}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align: right;">
            <strong>Etag:</strong>
        </div>
        <div class="col-md-10">
            {{object.metadata.etag}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2" style="text-align: right;">
            <strong>Causal Context:</strong>
        </div>
        <div class="col-md-10">
            {{object.metadata.causalContext}}
        </div>
    </div>
</div>
