<table class="table">
<tbody>
{{#each bucketList.buckets as |bucket|}}
    <tr>
        <td>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {{link.link-bucket bucket=bucket}}
                </div>
            </div>
        </div>
        </td>
    </tr>
{{else}}
    No buckets found.
{{/each}}
</tbody>
</table>
