<table class="table">
<tbody>
{{#each key in keys}}
    <tr>
        <td>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {{#link-to 'riak-object'
                        (query-params cluster_id=cluster_id
                            bucket_type_id=bucket_type_id bucket_id=bucket_id
                            object_key=key)}}
                        {{key}}{{/link-to}}
                </div>
                <div class="col-md-6">
                    <strong>Actions:</strong>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
        </td>
    </tr>
{{else}}
    No keys found.
{{/each}}
</tbody>
</table>
