<table class="table">
<tbody>
{{#each keys as |obj|}}
    <tr>
        <td>
        <div class="container">
            <div class="row">
                <div>
                    {{#if obj.markedDeleted}}
                        <strike>{{obj.key}}</strike>
                    {{else}}
                        {{#link-to 'riak-object'
                            (query-params cluster_id=obj.bucket.clusterId
                                bucket_type_id=obj.bucket.bucketTypeId
                                bucket_id=obj.bucket.name
                                object_key=obj.key)}}
                            {{obj.key}}{{/link-to}}
                    {{/if}}
                </div>
            </div>
        </div>
        </td>
    </tr>
{{else}}
    No keys found.
{{/each}}
</tbody>
</table>
