<table class="table">
<tbody>
{{#each bucket in bucketList.buckets}}
    <tr>
        <td>
        <div class="container">
            <div class="row">
                <div class="col-md-6">{{bucket.name}}</div>
                <div class="col-md-6">
                    <strong>Actions:</strong>
                    {{#link-to 'key_list' (query-params cluster_id=bucket.clusterId
                            bucket_type_id=bucket.bucketTypeId bucket_id=bucket.bucketId)
                            classNames='btn btn-xs btn-danger' }}
                        Key List{{/link-to}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
        </td>
    </tr>
{{else}}
    No buckets found.
{{/each}}
</tbody>
</table>
