    <td>{{#link-to 'riak_ping' (query-params node_id=node.id) classNames='btn btn-sm btn-default' }}Node Ping{{/link-to}}</td>
    <td>
        {{#link-to 'node_stats' (query-params node_id=node.id)
            classNames='btn btn-sm btn-primary' }}
        Node Stats{{/link-to}}</td>
    <td>{{node.id}}</td>
